*{
  text-decoration: none ;
  padding: 0;
  margin: 0;
}
body{
  background: #eae8e9;
}
li{
  list-style: none;
}
.page-import{
  margin-inline: 130px;
}
.flex{
  display: flex;
}
.items{
  align-items: center;
}
.between{
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .page-import{
    margin-inline: 30px;
  }


  
}